@(loginForm: play.data.Form[controllers.Authentication.Login])
@import play.i18n._
@import play.cache._

@main(Messages.get("label_login"), "login-page") {
    <a class="accessibility" href="#login">@Messages.get("label_toLogin")</a>
    <a class="accessibility" title="@Messages.get("label_clickToRegister")" href="@routes.Registration.registration()" accesskey="r">@Messages.get("label_register")</a>
    <!-- Header -->
    <header role="banner" aria-labelledby="bannerheading">
        <h1 id="bannerheading">
            <span class="accessibility">
                Business Informatics Group
            </span>
            <span class="gametitle">@Messages.get("label_jeopardy")</span>
        </h1>
    </header>

    <!-- Content -->
    <div role="main">
        <section id="login" aria-labelledby="loginheading">
            <h2 id="loginheading" class="accessibility">@Messages.get("label_login")</h2>

            @if(loginForm.hasErrors){
                <p>
                    <ul>
                        @for(entry <- loginForm.errors.entrySet()){
                            @for(error <- entry.getValue){
                                <li>@error.message()</li>
                            }
                        }
                    </ul>
                </p>
            }
            @helper.form(action = routes.Authentication.login()) {
                    <fieldset>
                        <legend id="logindata">@Messages.get("label_loginEn")</legend>
                        <label for="username">@Messages.get("label_username"):</label>
                        <input name="username" id="username" type="text" required="required"/>
                        <label for="password">@Messages.get("label_password"):</label>
                        <input name="password" id="password" type="password" required="required"/>
                        <input name="login" id="loginsubmit" class="greenlink formlink clickable" type="submit" value="@Messages.get("label_login")"/>
                    </fieldset>
            }
        </section>
            <!-- Register section -->
        <section id="registerforward" aria-labelledby="registerheading">
            <h2 id="registerheading" class="accessibility">@Messages.get("label_registration")</h2>
            <p id="registerhint">@Messages.get("label_notRegistered")</p>
            <a class="contentlink orangelink" title="@Messages.get("label_clickToRegister")" href="@routes.Registration.registration()" accesskey="r">@Messages.get("label_toRegistration")</a>
        </section>
    </div>
}