@(game: JeopardyGame, warning: String, error: String)
@import play.i18n._
@import at.ac.tuwien.big.we15.lab2.api.JeopardyGame;

@main(Messages.get("label_titleQuestionSelection"), "selection-page") {
    <a class="accessibility" href="#question-selection">@Messages.get("label_goToQuestions")</a>
    <!-- Header -->
    <header role="banner" aria-labelledby="bannerheading">
        <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span>
            <span class="gametitle">@Messages.get("label_jeopardy")</span>
        </h1>
    </header>

    <!-- Navigation -->
    <nav role="navigation" aria-labelledby="navheading">
        <h2 id="navheading" class="accessibility">@Messages.get("label_navigation")</h2>
        <ul>
            <li><a class="orangelink navigationlink" id="logoutlink" title="@Messages.get("label_clickToRegister")" href="@routes.Authentication.logout()" accesskey="l">@Messages.get("label_logout")</a></li>
        </ul>
    </nav>

    <!-- Content -->

    <div role="main">
            <!-- info -->
        <section id="gameinfo" aria-labelledby="gameinfoinfoheading">
            <h2 id="gameinfoinfoheading" class="accessibility">@Messages.get("label_gameInfo")</h2>
            <section id="firstplayer" class="playerinfo leader" aria-labelledby="firstplayerheading">
                <h3 id="firstplayerheading" class="accessibility">@Messages.get("label_leader")</h3>
                <img class="avatar" src="@routes.Assets.at("images/avatar/"+game.getLeader.getUser.getAvatar.getImageHead)" alt="@Messages.get("label_playerAvatar", game.getLeader.getUser.getName)" />
                <table>
                    <tr>
                        <th class="accessibility">@Messages.get("label_playerName")</th>
                        <td class="playername">@Messages.get("message_user", game.getLeader.getUser.getName)</td>
                    </tr>
                    <tr>
                        <th class="accessibility">@Messages.get("message_playerScore")</th>
                        <td class="playerpoints">@game.getLeader.getProfit €</td>
                    </tr>
                </table>
            </section>
            <section id="secondplayer" class="playerinfo" aria-labelledby="secondplayerheading">
                <h3 id="secondplayerheading" class="accessibility">@Messages.get("label_secondPlayer")</h3>
                <img class="avatar" src="@routes.Assets.at("images/avatar/"+game.getSecond.getUser.getAvatar.getImageHead)" alt="@Messages.get("label_playerAvatar", game.getSecond.getUser.getName)" />
                <table>
                    <tr>
                        <th class="accessibility">@Messages.get("label_playerName")</th>
                        <td class="playername">@game.getSecond.getUser.getName</td>
                    </tr>
                    <tr>
                        <th class="accessibility">@Messages.get("label_playerScore")</th>
                        <td class="playerpoints">@game.getSecond.getProfit €</td>
                    </tr>
                </table>
            </section>
            <p id="round">@Messages.get("label_numQuestions"): 2 / 10</p>
        </section>

            <!-- Question -->
        <section id="question-selection" aria-labelledby="questionheading">
            <h2 id="questionheading" class="black accessibility">@Messages.get("label_jeopardy2")</h2>

            @if(warning != null){
                <p class="warning">@warning</p>
            }

            @if(error != null){
                <p class="error">@error</p>
            }

            <p class="user-info positive-change">@Messages.get("message_rightAnswerUser"): + (game.getHumanPlayer.getChosenQuestion == null) ? 0 : game.getHumanPlayer.getChosenQuestion.getValue  €</p>
            <p class="user-info negative-change">@Messages.get("message_wrongAnswerOpponent", game.getMarvinPlayer.getUser.getName): - (game.getMarvinPlayer.getChosenQuestion  == null) 0 : game.getMarvinPlayer.getChosenQuestion.getValue €</p>
            <p class="user-info">@Messages.get("message_aiQuestion", game.getMarvin.getName, "TU WIEN", "€ " + "1000")</p>
            <form id="questionform" action="/question" method="post">
                <fieldset>
                    <legend class="accessibility">@Messages.get("label_titleQuestionSelection")</legend>
                    @for(category <- game.getCategories) {
                        <section class="questioncategory" aria-labelledby="@category.getName()heading">
                            <h3 id="@category.getName()heading" class="tile category-title"><span class="accessibility">@Messages.get("label_category"): </span>@category.getName()</h3>
                            <ol class="category_questions">
                            @for(question <- category.getQuestions) {
                                <li><input @{if(game.hasBeenChosen(question)) "disabled=\"disabled\""} name="question_selection" id="question_@question.getId" value="@question.getId" type="radio" /><label class="tile clickable" for="question_@question.getId">€ @{question.getValue()*10}</label></li>
                            }
                            </ol>
                        </section>
                    }
                </fieldset>
                <input class="greenlink formlink clickable" name="question_submit" id="next" type="submit" value="@Messages.get("label_choose")" accesskey="s" />
            </form>
        </section>

        <section id="lastgame" aria-labelledby="lastgameheading">
            <h2 id="lastgameheading" class="accessibility">@Messages.get("label_lastGameInfo")</h2>
            <p>@Messages.get("message_lastGame", "-")</p>
        </section>
        </div>

    <script type="text/javascript">
    //<![CDATA[

    // initialize time
    $(document).ready(function() {
        // set last game
        if(supportsLocalStorage()) {
        var lastGameMillis = parseInt(localStorage['lastGame'])
            if(!isNaN(parseInt(localStorage['lastGame']))){
                var lastGame = new Date(lastGameMillis);
                $("#lastgame p").replaceWith('<p>@Messages.get("message_lastGame2") <time datetime="'
                + lastGame.toUTCString()
                + '">'
                + lastGame.toLocaleString()
                + '</time></p>')
            }
        }
    });
    //]]>
    </script>

}
