@(userForm: play.data.Form[models.User])
@import at.ac.tuwien.big.we15.lab2.api.Avatar
@import models.User
@import play.i18n._

    @main(Messages.get("label_titleRegistration")) {

        <a title="Zur Registrierung springen" class="accessibility" href="#register">@Messages.get("label_goToRegistration")</a>

        <!-- Header -->
        <header role="banner" aria-labelledby="bannerheading">
            <h1 id="bannerheading">
                <span class="accessibility">Business Informatics Group </span><span class="gametitle">@Messages.get("label_jeopardy")</span>
            </h1>
        </header>

        <!-- Navigation -->
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">@Messages.get("label_navigation")</h2>
            <ul>
                <li><a class="orangelink navigationlink" id="loginlink" title="@Messages.get("label_clickToLogin")" href="@routes.Authentication.authentication()" accesskey="l">@Messages.get("label_login")</a></li>
            </ul>
        </nav>

        <!-- Content -->
        <div id="register" role="main">
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">@Messages.get("label_registration")</h2>

            @if(userForm.hasErrors){
                <p>
                    <ul>
                        @for(entry <- userForm.errors.entrySet()){
                            @for(error <- entry.getValue){
                                <li>@error.message()</li>
                            }
                        }
                    </ul>
                </p>
            }

            @helper.form(action = routes.Registration.register()) {
                <fieldset>
                    <legend>@Messages.get("label_personalData")</legend>
                    <label for="firstname">@Messages.get("label_firstname"):</label>
                    <input id="firstname" type="text" name="firstname"/>

                    <label for="lastname">@Messages.get("label_lastname"):</label>
                    <input id="lastname" type="text" name="lastname"/>

                    <label for="birthdate">@Messages.get("label_birthday"):</label>
                    <input id="birthdate" type="date" name="birthdate"/>
                    <div id="error_msg_birthdate" class="hide" role="alert">
                        @Messages.get("error_birthdayMessage", "dd.mm.yyyy", "24.12.2010")</div>

                    <label>@Messages.get("label_gender"):</label>
                    <fieldset class="inputset">
                        <input type="radio" name="gender" id="male" value="male" checked="checked" />
                        <label for="male">@Messages.get("label_male")</label>
                        <input type="radio" name="gender" id="female" value="female" />
                        <label for="female">@Messages.get("label_female")</label>
                    </fieldset>


                </fieldset>
                <fieldset>
                    <legend>@Messages.get("label_userData")</legend>
                    <label for="avatarid">@Messages.get("label_avatar"):</label>
                    <select id="avatarid" name="avatarid">
                        @for(avatar <- Avatar.values()){
                            <option value="@avatar.getId()">@avatar.getName()</option>
                        }
                    </select>

                    <label for="username">@Messages.get("label_username")*:</label>
                    <input id="username" type="text" required="required" pattern="\w{4,8}" name="username"/>
                    <div id="error_msg_username" class="hide" role="alert">@Messages.get("message_fieldRestrictionLengthUsername")</div>

                    <label for="password">@Messages.get("label_password")*:</label>
                    <input id="password" type="password" required="required" pattern="\w{4,8}" name="password"/>
                    <div id="error_msg_password" class="hide" role="alert">@Messages.get("message_fieldRestrictionLengthPassword")</div>
                    <input class="greenlink formlink" type="submit" value="@Messages.get("label_register")" accesskey="s"/>
                    <p id="requiredhint">@Messages.get("message_mandatoryFields")</p>
                </fieldset>
            }
        </div>
        <script type="text/javascript">
    //<![CDATA[

    $(document).ready(function() {
    if (areAllFieldsValid()) {
    $('input[type="submit"]').removeAttr('disabled');
    }else{
    $('input[type="submit"]').attr('disabled', 'disabled');
    }
    });

    function areAllFieldsValid() {
    var valid;
    if(hasFormValidation()){
    valid = $('form')[0].checkValidity();
    }else{
    valid = !(isUsernameInvalid($("#username").val()) || isPasswordInvalid($("#password").val()));
    }
    if(!hasNativeDateInput()){
    valid = valid && !isBirthdayInvalid("birthdate");
    }
    return valid;
    }

    function updateSubmitState() {
    if (areAllFieldsValid()) {
    $('input[type="submit"]').removeAttr('disabled');
    }else{
    $('input[type="submit"]').attr('disabled', 'disabled');
    }
    }

    function updateFieldValidity(isInvalid, fieldSelector, messageSelector) {
    if(isInvalid) {
    $(fieldSelector).addClass('error');
    $(messageSelector).removeClass('hide');
    } else {
    $(fieldSelector).removeClass('error');
    $(messageSelector).addClass('hide');
    }
    }

    /*
     * Birth Date
     */
    $("#birthdate").keyup(function (event) {
    if(hasFormValidation()){
    this.setCustomValidity("");
    }

    var isInvalid;
    if(!hasFormValidation() || !hasNativeDateInput()){
    isInvalid = isBirthdayInvalid("birthdate");
    }else{
    isInvalid = !this.validity.valid;
    }

    updateFieldValidity(isInvalid, "#birthdate", "#error_msg_birthdate");
    updateSubmitState();
    });

    /*
     * Checks if the input with the given id is a valid birthdate or not
     */
    function isBirthdayInvalid(id){
    re = /^(\d{1,2})\.(\d{1,2})\.(\d{4})$/;
    value = getNormalizedDateString("#"+id);
    console.log(value);
    if (value != '') {
    if (regs = value.match(re)) {
    if (regs[1] < 1 || regs[1] > 31) {
    return true;
    }
    if (regs[2] < 1 || regs[2] > 12) {
    return true;
    }
    if (regs[3] < 1902 || regs[3] > (new Date()).getFullYear() + 100) {
    return true;
    }
    return false;
    }else{
    return true;
    }
    } else {
    return false;
    }
    }

    /*
     * User Name
     */
    $("#username").keyup(function (event){
    if(hasFormValidation()){
    this.setCustomValidity("");
    }

    var isInvalid;
    if(!hasFormValidation()){
    isInvalid = isUsernameInvalid($(event.target).val());
    }else{
    isInvalid = !this.validity.valid;
    }

    updateFieldValidity(isInvalid, "#username", "#error_msg_username");
    updateSubmitState();
    });

    /*
     *  checks if the given input value is a valid username or not
     */
    function isUsernameInvalid(value) {
    return value.length < 4 || value.length > 8;
    }

    /*
     * Password
     */
    $("#password").keyup(function (event){
    if(hasFormValidation()){
    this.setCustomValidity("");
    }

    var isInvalid;
    if(!hasFormValidation()){
    isInvalid = isPasswordInvalid($(event.target).val());
    }else{
    isInvalid = !this.validity.valid;
    }

    updateFieldValidity(isInvalid, "#password", "#error_msg_password");
    updateSubmitState();
    });

    /*
     *   checks if the given input value is a valid username or not
     */
    function isPasswordInvalid(value) {
    return value.length < 4 || value.length > 8;
    }
    //]]>
    </script>
    }