@(game: JeopardyGame)
@import at.ac.tuwien.big.we15.lab2.api.JeopardyGame
@import play.i18n._;

@main(Messages.get("label_titleWinnerNotification"), "winner-page") {
    <a class="accessibility" href="#winnerannouncement">@Messages.get("label_goToWinner")</a>
    <!-- Header -->
    <header role="banner" aria-labelledby="bannerheading">
        <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span>
            <span class="gametitle">@Messages.get("label_jeopardy")</span>
        </h1>
    </header>

    <!-- Navigation -->
    <nav role="navigation" aria-labelledby="navheading">
        <h2 id="navheading" class="accessibility">@Messages.get("label_navigation")</h2>
        <ul>
            <li><a class="orangelink navigationlink" id="logoutlink" title="@Messages.get("label_clickToLogout")" href="@routes.Authentication.logout()" accesskey="l">@Messages.get("label_logout")</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <div role="main">
        <section id="gameinfo" aria-labelledby="winnerinfoheading">
            <h2 id="winnerinfoheading" class="accessibility">@Messages.get("label_winnerInfo")</h2>
            <p class="user-info positive-change">@Messages.get("message_rightAnswerUser"): @game.getHumanPlayer.getLatestProfitChange €</p>
            <p class="user-info negative-change">@Messages.get("message_wrongAnswerOpponent", game.getMarvin.getAvatar): -@game.getMarvinPlayer.getLatestProfitChange €</p>
            <section class="playerinfo leader" aria-labelledby="winnerannouncement">
                <h3 id="winnerannouncement">@Messages.get("label_winner"): @game.getLeader.getUser.getAvatar</h3>
                <img class="avatar" src="@routes.Assets.at("images/avatar/"+game.getLeader.getUser.getAvatar.getImageFull)" alt="@Messages.get("label_playerAvatar", game.getLeader.getUser.getAvatar.getName)" />
                <table>
                    <tr>
                        <th class="accessibility">@Messages.get("label_playerName")</th>
                        <td class="playername">@game.getLeader.getUser.getName</td>
                    </tr>
                    <tr>
                        <th class="accessibility">@Messages.get("label_playerScore")</th>
                        <td class="playerpoints">@game.getLeader.getProfit</td>
                    </tr>
                </table>
            </section>
            <section class="playerinfo" aria-labelledby="loserheading">
                <h3 id="loserheading" class="accessibility">@Messages.get("label_loser"): @game.getLoser.getUser.getAvatar</h3>
                <img class="avatar" src="@routes.Assets.at("images/avatar/"+game.getLoser.getUser.getAvatar.getImageHead)" alt="Spieler-Avatar Deadpool" />
                <table>
                    <tr>
                        <th class="accessibility">@Messages.get("label_playerName")</th>
                        <td class="playername">@game.getLoser.getUser.getName</td>
                    </tr>
                    <tr>
                        <th class="accessibility">@Messages.get("label_playerScore")</th>
                        <td class="playerpoints">€ @game.getLoser.getProfit</td>
                    </tr>
                </table>
            </section>
        </section>
        <section id="newgame" aria-labelledby="newgameheading">
            <h2 id="newgameheading" class="accessibility">@Messages.get("label_newGame")</h2>
            @helper.form(action = routes.Overview.jeopardy()) {
                <input class="clickable orangelink contentlink" id="new_game" type="submit" name="restart" value="@Messages.get("label_newGame")" />
            }
        </section>
    </div>

    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
            if(supportsLocalStorage()){
                localStorage["lastGame"] = new Date().getTime();
            }
        });
    //]]>
    </script>

}